In [1]:

import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException , StaleElementReferenceException
import time
import warnings
warnings.filterwarnings('ignore')

# Phones

In [3]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace')

In [4]:
Ratings=[]
Review=[]

#As there are nearly 10 reviews per page, we will check for 400+ pages and scrap the required data
#Now we will take a for loop and scrap
for i in range(0,410):
    for j in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        Ratings.append(j.text)
    for j in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Review.append(j.text)
        
    #Path for next page as it changes for every page. We are appending numbers as pages change  
    k=i+1
    next_page="https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page="+str(k) 
    driver.get(next_page)

In [5]:
#Checking the length of the data scraped
print(len(Ratings),len(Review))

3829 4090

In [6]:
f_phones=pd.DataFrame({'Product_Review':Review[:3820],'Ratings':Ratings[:3820]})

In [7]:
f_phones

                                         Product_Review Ratings
0     Really satisfied with the Product I received.....       5
1     Amazing phone with great cameras and better ba...       5
2     Great iPhone very snappy experience as apple k...       5
3     Previously I was using one plus 3t it was a gr...       5
4     What a camera .....just awesome ..you can feel...       5
...                                                 ...     ...
3815  Brand new and original phone\nI was bit worrie...       5
3816                                       Best phone 📱       5
3817                                    Value for money       5
3818  Very good product. Camera is too good. Battery...       5
3819            One word for this phone , it is class !       4

[3820 rows x 2 columns]

In [8]:
driver.close()

In [9]:
driver =webdriver.Chrome(r"C:\chromedriver.exe")

# POCO

In [10]:
driver.get('https://www.flipkart.com/poco-m3-power-black-64-gb/product-reviews/itmb49cc10841be2?pid=MOBFZTCUTAYPJHHR&lid=LSTMOBFZTCUTAYPJHHR2ZVC1N&marketplace=FLIPKART')

In [11]:
Ratings=[]
Review=[]

#As there are nearly 10 reviews per page, we will check for 400+ pages and scrap the required data
#Now we will take a for loop and scrap
for i in range(0,650):
    for j in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        Ratings.append(j.text)
    for j in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Review.append(j.text)
        
    #Path for next page as it changes for every page. We are appending numbers as pages change  
    k=i+1
    next_page="https://www.flipkart.com/poco-m3-power-black-64-gb/product-reviews/itmb49cc10841be2?pid=MOBFZTCUTAYPJHHR&lid=LSTMOBFZTCUTAYPJHHR2ZVC1N&marketplace=FLIPKART&page="+str(k) 
    driver.get(next_page)

In [12]:
print(len(Review),len(Ratings))

6455 5198

In [13]:
f_poco=pd.DataFrame({'Product_Review':Review[:5100],'Ratings':Ratings[:5100]})

In [14]:
f_poco

                                         Product_Review Ratings
0     Great Phone at this Price point. Superb cool D...       5
1     Good mobile poco m3\nPros:\nFullhd display,\ns...       4
2     Good phone battery🔋 And camera This price poin...       5
3     U will never get this specs for this price...d...       5
4     One word review " Value for Money"\nIt has the...       5
...                                                 ...     ...
5095                    Good but nat best in this price       5
5096                                               Good       5
5097                                               Good       5
5098                                            Not bad       5
5099  Good ,i like this phone poco m3 his quality is...       4

[5100 rows x 2 columns]

In [15]:
driver.close()

# realme

In [16]:
driver =webdriver.Chrome(r"C:\chromedriver.exe")

In [17]:
driver.get("https://www.flipkart.com/search?q=realme+note+10+pro&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_10_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_10_na_na_na&as-pos=1&as-type=RECENT&suggestionId=realme+note+10+pro%7CMobiles&requestId=47bfb299-d2cc-44ec-8595-8fa2017b004a&as-searchtext=realme%20not")

In [18]:
Ratings=[]
Review=[]

#As there are nearly 10 reviews per page, we will check for 400+ pages and scrap the required data
#Now we will take a for loop and scrap
for i in range(0,650):
    for j in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        Ratings.append(j.text)
    for j in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Review.append(j.text)
        
    #Path for next page as it changes for every page. We are appending numbers as pages change  
    k=i+1
    next_page="https://www.flipkart.com/search?q=realme+note+10+pro&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_10_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_10_na_na_na&as-pos=1&as-type=RECENT&suggestionId=realme+note+10+pro%7CMobiles&requestId=47bfb299-d2cc-44ec-8595-8fa2017b004a&as-searchtext=realme%20not&page="+str(k) 
    driver.get(next_page)

In [19]:
print(len(Review),len(Ratings))

120 99

In [20]:
f_realme=pd.DataFrame({'Product_Review':Review[:99],'Ratings':Ratings[:99]})

In [21]:
f_realme

                                       Product_Review Ratings
0   Such a great phone in this price. In camera Su...       5
1                          Best phone ever used by me       5
2   One of the best mid-range flagship smartphone....       5
3    It's not amoled. Battery performance is not good       5
4   The battery🔋 backup is very good 👍 and camera ...       4
..                                                ...     ...
94  great product. I am using it for 1 year. Best ...       4
95                  I used this mobile since 4+ years       5
96                    Very good, and beautiful colour       5
97  Nice ones you have verry vell exp in in this fiel       5
98  Review after 3 months of usage\nI never faced ...       3

[99 rows x 2 columns]

In [22]:
driver.close()

# router

In [23]:
driver =webdriver.Chrome(r"C:\chromedriver.exe")

In [24]:
# Getting the website to driver
driver.get('https://www.flipkart.com/tp-link-tl-wr841n-300mbps-wireless-n-router/product-reviews/itmf48vgyfyx8m4f?pid=RTRD7HN3JJYF6WN2&lid=LSTRTRD7HN3JJYF6WN20ZITXQ&marketplace=FLIPKART')

In [25]:
Ratings=[]
Review=[]

#As there are nearly 10 reviews per page, we will check for 400+ pages and scrap the required data
#Now we will take a for loop and scrap
for i in range(0,150):
    for j in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        Ratings.append(j.text)
    for j in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Review.append(j.text)
        
    #Path for next page as it changes for every page. We are appending numbers as pages change  
    k=i+1
    next_page="https://www.flipkart.com/tp-link-tl-wr841n-300mbps-wireless-n-router/product-reviews/itmf48vgyfyx8m4f?pid=RTRD7HN3JJYF6WN2&lid=LSTRTRD7HN3JJYF6WN20ZITXQ&marketplace=FLIPKART&page="+str(k) 
    driver.get(next_page)

In [26]:
print(len(Review),len(Ratings))

1487 1444

In [27]:
f_router=pd.DataFrame({'Product_Review':Review[:1444],'Ratings':Ratings[:1444]})

In [28]:
f_router

                                         Product_Review Ratings
0     I Used this Router for 30 days, Really worth f...       4
1     Okay, so... my review of this router is going ...       4
2     I bought this product on 25/05/2012 at 11.30 a...       5
3     After careful consideration of similar prodcut...       5
4     A budget router, with 5dbi antenna...what more...       5
...                                                 ...     ...
1439  simply put, it worked on the first day after r...       4
1440  The best wireless router in 150 mbps range. It...       4
1441  Needless to say that Flipkart is super prompt ...       5
1442  I found this router pretty easy to install. To...       3
1443  I am pretty happy with the router. It was pret...       5

[1444 rows x 2 columns]

In [29]:
driver.close()

In [30]:
driver =webdriver.Chrome(r"C:\chromedriver.exe")

# TV

In [41]:
driver =webdriver.Chrome(r"C:\chromedriver.exe")

In [42]:
driver.get("https://www.flipkart.com/search?q=tv+smart+tv&sid=ckf%2Cczl&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&as-pos=1&as-type=RECENT&suggestionId=tv+smart+tv%7CTelevisions&requestId=8e511956-0ce3-4162-bfcb-4ce159096d51&as-searchtext=tv")

In [43]:
Ratings=[]
Review=[]

#As there are nearly 10 reviews per page, we will check for 400+ pages and scrap the required data
#Now we will take a for loop and scrap
for i in range(0,150):
    for j in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        Ratings.append(j.text)
    for j in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Review.append(j.text)
        
    #Path for next page as it changes for every page. We are appending numbers as pages change  
    k=i+1
    next_page="https://www.flipkart.com/search?q=tv+smart+tv&sid=ckf%2Cczl&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&as-pos=1&as-type=RECENT&suggestionId=tv+smart+tv%7CTelevisions&requestId=8e511956-0ce3-4162-bfcb-4ce159096d51&as-searchtext=tv"+str(k) 
    driver.get(next_page)

In [44]:
print(len(Review),len(Ratings))

1500 1350

In [45]:
Tv=pd.DataFrame({'Product_Review':Review[:1350],'Ratings':Ratings[:1350]})

In [46]:
Tv

                                         Product_Review Ratings
0     Thomson is well known brand in India. This mod...       5
1              Good product at this price. IPS Display.       4
2     Excellent TV for this price compare to other a...       5
3     Bought a month ago, doing good. Also worthy fo...       4
4     Picture - 10/10\nSound - 9/10\nConnectivity - ...       5
...                                                 ...     ...
1345  Good tv 😊\nPicture supeer\nBest for service\nG...       5
1346  Item is good sound quality is good picture is ...       4
1347  Not even 3 months from buying the TV, the remo...       5
1348  Product is very good quality also is very good...       5
1349                           Really nice product 😊😊☺️       4

[1350 rows x 2 columns]

In [47]:
driver.close()

# airpods

In [48]:
driver =webdriver.Chrome(r"C:\chromedriver.exe")

In [49]:
driver.get("https://www.flipkart.com/search?q=airpods&sid=0pm%2Cfcn%2C821%2Ca7x%2C2si&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_3_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_3_na_na_na&as-pos=1&as-type=RECENT&suggestionId=airpods%7CTrue+Wireless&requestId=3cef515d-edd1-4d03-a5e3-10f92f21694c&as-searchtext=air")

In [50]:
Ratings=[]
Review=[]

#As there are nearly 10 reviews per page, we will check for 400+ pages and scrap the required data
#Now we will take a for loop and scrap
for i in range(0,150):
    for j in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        Ratings.append(j.text)
    for j in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Review.append(j.text)
        
    #Path for next page as it changes for every page. We are appending numbers as pages change  
    k=i+1
    next_page="https://www.flipkart.com/search?q=airpods&sid=0pm%2Cfcn%2C821%2Ca7x%2C2si&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_3_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_3_na_na_na&as-pos=1&as-type=RECENT&suggestionId=airpods%7CTrue+Wireless&requestId=3cef515d-edd1-4d03-a5e3-10f92f21694c&as-searchtext=air"+str(k) 
    driver.get(next_page)

In [51]:
print(len(Review),len(Ratings))

1500 1200

In [52]:
airpods=pd.DataFrame({'Product_Review':Review[:1200],'Ratings':Ratings[:1200]})a

In [53]:
airpods

                                         Product_Review Ratings
0                          Nice products look is awsome       5
1                          Nice products look is awsome       5
2     Really a nice product with fabous and high qua...       5
3     Really a nice product with fabous and high qua...       5
4     Finally received the right product. Thank you ...       5
...                                                 ...     ...
1195                      Super and good.... I love it😍       5
1196  Have used 2nd gen and pro. Easily better than ...       5
1197                     No fitting in the ear properly       4
1198  A very smart looking product as well works gre...       5
1199        Very bad quietly next time I am on Shopping       5

[1200 rows x 2 columns]

In [54]:
driver.close()

# Helmet

In [55]:
driver =webdriver.Chrome(r"C:\chromedriver.exe")

In [56]:
driver.get("https://www.flipkart.com/search?q=helmet+for+men&sid=1mt%2Cztf%2Civ8%2Ctih&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_3_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_3_na_na_na&as-pos=1&as-type=RECENT&suggestionId=helmet+for+men%7CBiker+Helmets&requestId=21104ab5-81b5-4030-93cb-684da301217f&as-searchtext=hel")

In [57]:
Ratings=[]
Review=[]

#As there are nearly 10 reviews per page, we will check for 400+ pages and scrap the required data
#Now we will take a for loop and scrap
for i in range(0,150):
    for j in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        Ratings.append(j.text)
    for j in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Review.append(j.text)
        
    #Path for next page as it changes for every page. We are appending numbers as pages change  
    k=i+1
    next_page="https://www.flipkart.com/search?q=helmet+for+men&sid=1mt%2Cztf%2Civ8%2Ctih&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_3_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_3_na_na_na&as-pos=1&as-type=RECENT&suggestionId=helmet+for+men%7CBiker+Helmets&requestId=21104ab5-81b5-4030-93cb-684da301217f&as-searchtext=hel"+str(k) 
    driver.get(next_page)

In [58]:
print(len(Review),len(Ratings))

1420 1420

In [60]:
Helmet=pd.DataFrame({'Product_Review':Review[:1420],'Ratings':Ratings[:1420]})

In [61]:
Helmet

                                         Product_Review Ratings
0     Good one. Actually best in this price. Light w...       4
1                           Best product just go for it       4
2     The helmet is very nice , good product build b...       3
3     The helmet is very nice , good product build b...       3
4     its nice helmet perfect size time to delevered...       5
...                                                 ...     ...
1415  The helmet is very nice , good product build b...       3
1416  its nice helmet perfect size time to delevered...       5
1417  It's a nice helmet. Good for daily use purpose...       3
1418  Sturdy, good looking, light weight, worth the ...       4
1419  Good Helmet But Design Is Not Good But Price G...       4

[1420 rows x 2 columns]

In [62]:
driver.close()

In [63]:
driver =webdriver.Chrome(r"C:\chromedriver.exe")

In [64]:
driver.get("https://www.flipkart.com/search?q=t+shirts&sid=clo%2Cash%2Cank%2Cedy&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_1_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_1_na_na_na&as-pos=1&as-type=RECENT&suggestionId=t+shirts%7CMen%27s+T-shirts&requestId=a3a4e25f-8b4a-468f-b456-02f0591ef554&as-searchtext=t")

In [65]:
Ratings=[]
Review=[]

#As there are nearly 10 reviews per page, we will check for 400+ pages and scrap the required data
#Now we will take a for loop and scrap
for i in range(0,150):
    for j in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        Ratings.append(j.text)
    for j in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Review.append(j.text)
        
    #Path for next page as it changes for every page. We are appending numbers as pages change  
    k=i+1
    next_page="https://www.flipkart.com/search?q=t+shirts&sid=clo%2Cash%2Cank%2Cedy&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_1_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_1_na_na_na&as-pos=1&as-type=RECENT&suggestionId=t+shirts%7CMen%27s+T-shirts&requestId=a3a4e25f-8b4a-468f-b456-02f0591ef554&as-searchtext=t"+str(k) 
    driver.get(next_page)

In [66]:
print(len(Review),len(Ratings))

1480 1168

In [67]:
Tshirts=pd.DataFrame({'Product_Review':Review[:1100],'Ratings':Ratings[:1100]})

In [68]:
Tshirts

                                         Product_Review Ratings
0          Woww... Full fill...😻\n\nGood fit and nice 🙂       5
1     Good product and product quality is good 👌\nI ...       4
2     Product quality is good as value of item quali...       4
3     Not good ... Cloth cuttinof different color se...       3
4                             Not india and size smal L       3
...                                                 ...     ...
1095                       After some week colour faded       5
1096  Bad quality, and the name of jack and jones wi...       4
1097  Love this product. Material is so nice. You wo...       4
1098  Quality was awesome and fit.... price is worth...       5
1099                 Very nice and quility is very fine       5

[1100 rows x 2 columns]

In [69]:
driver.close()

# shoes

In [70]:
driver =webdriver.Chrome(r"C:\chromedriver.exe")

In [71]:
driver.get("https://www.flipkart.com/search?q=shoes&sid=osp%2Ccil%2C1cu&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_5_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_5_na_na_na&as-pos=1&as-type=RECENT&suggestionId=shoes%7CSports+Shoes&requestId=aaa5bd8e-5b33-4aef-95bb-421cdbabb79e&as-searchtext=shoes")

In [72]:
Ratings=[]
Review=[]

#As there are nearly 10 reviews per page, we will check for 400+ pages and scrap the required data
#Now we will take a for loop and scrap
for i in range(0,150):
    for j in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        Ratings.append(j.text)
    for j in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Review.append(j.text)
        
    #Path for next page as it changes for every page. We are appending numbers as pages change  
    k=i+1
    next_page="https://www.flipkart.com/search?q=shoes&sid=osp%2Ccil%2C1cu&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_5_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_5_na_na_na&as-pos=1&as-type=RECENT&suggestionId=shoes%7CSports+Shoes&requestId=aaa5bd8e-5b33-4aef-95bb-421cdbabb79e&as-searchtext=shoes"+str(k) 
    driver.get(next_page)

In [73]:
print(len(Review),len(Ratings))

1490 1160

In [75]:
shoes=pd.DataFrame({'Product_Review':Review[:1160],'Ratings':Ratings[:1160]})

In [76]:
shoes

                                         Product_Review Ratings
0                          Great product at this price!       5
1                  Xcilance 2 year daily use no problem       5
2     Very nice 👌 shoes and comfortable 🥳✨✨💫 thank y...       4
3                           This is very supper product       5
4                                 Good quality. Osm....       3
...                                                 ...     ...
1155  Low price and very good quality I'm very happy...       5
1156  Great Experience and Nice shoes\nIt's awesome ...       4
1157                 Grt product only little size issue       5
1158                        Very Nice Product I love it       5
1159   Excellent fit and comfortable as well as stylish       5

[1160 rows x 2 columns]

In [77]:
driver.close()

# sunglass

In [78]:
driver =webdriver.Chrome(r"C:\chromedriver.exe")

In [79]:
driver.get("https://www.flipkart.com/search?q=sunglasses+men&sid=26x&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_3_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_3_na_na_na&as-pos=1&as-type=RECENT&suggestionId=sunglasses+men%7CSunglasses&requestId=dbf56f96-a292-41f1-882a-8a2e6a9714fd&as-searchtext=sun")

In [80]:
Ratings=[]
Review=[]

#As there are nearly 10 reviews per page, we will check for 400+ pages and scrap the required data
#Now we will take a for loop and scrap
for i in range(0,150):
    for j in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        Ratings.append(j.text)
    for j in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Review.append(j.text)
        
    #Path for next page as it changes for every page. We are appending numbers as pages change  
    k=i+1
    next_page="https://www.flipkart.com/search?q=sunglasses+men&sid=26x&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_3_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_3_na_na_na&as-pos=1&as-type=RECENT&suggestionId=sunglasses+men%7CSunglasses&requestId=dbf56f96-a292-41f1-882a-8a2e6a9714fd&as-searchtext=sun"+str(k) 
    driver.get(next_page)

NoSuchWindowException: Message: no such window: window was already closed
  (Session info: chrome=104.0.5112.102)
Stacktrace:
Backtrace:
	Ordinal0 [0x00D25FD3+2187219]
	Ordinal0 [0x00CBE6D1+1763025]
	Ordinal0 [0x00BD3E78+802424]
	Ordinal0 [0x00BC9AC4+760516]
	Ordinal0 [0x00BCAB02+764674]
	Ordinal0 [0x00BC4379+738169]
	Ordinal0 [0x00BD51D0+807376]
	Ordinal0 [0x00C2C7A2+1165218]
	Ordinal0 [0x00C1C9A6+1100198]
	Ordinal0 [0x00BF6F80+946048]
	Ordinal0 [0x00BF7E76+949878]
	GetHandleVerifier [0x00FC90C2+2721218]
	GetHandleVerifier [0x00FBAAF0+2662384]
	GetHandleVerifier [0x00DB137A+526458]
	GetHandleVerifier [0x00DB0416+522518]
	Ordinal0 [0x00CC4EAB+1789611]
	Ordinal0 [0x00CC97A8+1808296]
	Ordinal0 [0x00CC9895+1808533]
	Ordinal0 [0x00CD26C1+1844929]
	BaseThreadInitThunk [0x769F6739+25]
	RtlGetFullPathName_UEx [0x778090AF+1215]
	RtlGetFullPathName_UEx [0x7780907D+1165]

In [81]:
print(len(Review),len(Ratings))

1320 1320

In [82]:
sunglass=pd.DataFrame({'Product_Review':Review[:1320],'Ratings':Ratings[:1320]})

In [83]:
sunglass

                                         Product_Review Ratings
0     Fantastic ❤️ stylish and comes wd super qualit...       5
1                     Very nice, can wear in night also       5
2     Worth for the money, awesome product and quali...       5
3     I'm quite happy with the product. A little bit...       5
4     The frame is good looks premium.. but i dont k...       4
...                                                 ...     ...
1315                         Very nice, value for money       4
1316  Excellent..its a unisex glass so it looks very...       5
1317                Very nice product worth the price..       4
1318  Worth buying it❤️ I'm in love with this sungla...       5
1319                          Excelent product must buy       5

[1320 rows x 2 columns]

In [88]:
ratings_data=sunglass.append([f_phones,f_phones,f_poco,f_router,f_realme,Tv,airpods,Helmet,Tshirts,shoes],ignore_index=True)
ratings_data

                                          Product_Review Ratings
0      Fantastic ❤️ stylish and comes wd super qualit...       5
1                      Very nice, can wear in night also       5
2      Worth for the money, awesome product and quali...       5
3      I'm quite happy with the product. A little bit...       5
4      The frame is good looks premium.. but i dont k...       4
...                                                  ...     ...
21828  Low price and very good quality I'm very happy...       5
21829  Great Experience and Nice shoes\nIt's awesome ...       4
21830                 Grt product only little size issue       5
21831                        Very Nice Product I love it       5
21832   Excellent fit and comfortable as well as stylish       5

[21833 rows x 2 columns]

In [89]:
ratings_data.to_excel("ratings_data.xlsx",index=False)